# ===============================
# Jupyter Notebook
# ===============================
.ipynb_checkpoints/

# ===============================
# Machine Learning Models
# ===============================
models/
*.pkl
*.pickle
*.joblib
*.h5
*.hdf5
*.pt
*.pth
*.ckpt
*.onnx

# ===============================
# Datasets
# ===============================
data/
datasets/
*.csv
*.xlsx
*.json
*.zip

# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc

# ===============================
# Virtual environments
# ===============================
venv/
env/
.venv/

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
